ipdb
ipykernel
yapf
google-cloud-bigquery
google-cloud-storage
google-cloud-texttospeech
pandas
numpy
librosa
tqdm
tensorflow
scikit-learn
tqdm
datasets
torch
jupyter

# API
fastapi
pytz
uvicorn
python-multipart
pydantic
# tests
httpx
pytest-asyncio
