ipdb
ipykernel
yapf
google-cloud-texttospeech
google-cloud-speech
google-cloud-translate

torchaudio
torch
tqdm
transformers
typing
pydub
soundfile

# API
fastapi
pytz
python-multipart
pydantic
# tests
httpx
pytest-asyncio
